/* sizer styles; these are the default class names and required styles */

.sizer {
    line-height: 0px;
    font-size: 0px;
    background-color: #e0e0e0;
}

.sizer-right, .sizer-left {
    width: 6px;
    height: 100%;
    line-height: 0px;
    font-size: 0px;
    background-color: #e0e0e0;
    cursor: e-resize;
}

.sizer-bottom, .sizer-top {
    height: 6px;
    width: 100%;
    cursor: n-resize;
}

.sizer-right {
    float: left;
}

.sizer-ghost {
    position: absolute;
    z-index: 250;
    -webkit-user-select: none;
    opacity: 0.6;
}
